{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
    
    <h1 class="hor-naslov">Horoskop</h1>
    
    
    <div class="znakovi-index">
        
        <div class="znak-logo">
            <a href="ovan/" onclick="showSpinner()">Ovan</a>
        </div>
        
        <div class="znak-logo">
            <a href="bik/" onclick="showSpinner()">Bik</a>
        </div>
    
        <div class="znak-logo">
            <a href="blizanci/" onclick="showSpinner()">Blizanci</a>
        </div>
    
        <div class="znak-logo">
            <a href="rak/" onclick="showSpinner()">Rak</a>
        </div>
        
        <div class="znak-logo">
            <a href="lav/" onclick="showSpinner()">Lav</a>
        </div>
    
        <div class="znak-logo">
            <a href="devica/" onclick="showSpinner()">Devica</a>
        </div>
    
        <div class="znak-logo">
            <a href="vaga/" onclick="showSpinner()">Vaga</a>
        </div>
    
        <div class="znak-logo">
            <a href="skorpija/" onclick="showSpinner()">Škorpija</a>
        </div>
    
        <div class="znak-logo">
            <a href="strelac/" onclick="showSpinner()">Strelac</a>
        </div>
    
        <div class="znak-logo">
            <a href="jarac/" onclick="showSpinner()">Jarac</a>
        </div>
    
        <div class="znak-logo">
            <a href="vodolija/" onclick="showSpinner()">Vodolija</a>
        </div>
    
        <div class="znak-logo">
            <a href="ribe/" onclick="showSpinner()">Ribe</a>
        </div>
    
    </div>
    
    
{% endblock %}
